<label>Server Name</label>

<!-- 1. 단방향 데이터 바인딩 -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- 2. 양방향 데이터 바인딩 -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- ngIf else 구문 사용 -->
<!-- <p *ngIf="serverCreated else noServer">Server was created, server name is <b>{{serverName}}</b></p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template> -->

<p *ngIf="serverCreated">Server was created, server name is <b>{{serverName}}</b></p>
<app-server *ngFor="let server of servers">server</app-server>