<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and successAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/green text?)</li>
      </ol>

      <hr>
      <!-- <button class="btn btn-primary" (click)="showSecret =!showSecret">Display Details</button> -->
      <button class="btn btn-primary" (click)="onToggleDisplays()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = {{showSecret}}</p>
      <div *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >=5? 'blue' : ' transparent'}"
        [ngClass]="{'white-text': logItem >= 5}">{{ logItem }}</div>

    </div>
  </div>
</div>