<div class="container">
    <div class="row">
        <div class="col-sx-12">
            <h3>Bind it!</h3>
            <ol>
                <li>Create three new components: GameControl, Odd, event</li>
                <li>The CameControl Component should have buttons to start and stop the game</li>
                <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref
                    = setInterval())</li>
                <li>The event should ve listenable from outside the component</li>
                <li>When stopping the game, no more events should get emitted (clearInterval(ref)</li>
                <li>A new Odd component should get created for every odd number emiited, the same should happen for the
                    Even Component (on even numbers)</li>
                <li>Simply output Odd - NUMBER or Even - Number in the two components</li>
                <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
            </ol>
        </div>
    </div>
    <!-- Game Control -->
    <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="intervalFired($event)"></app-game-control>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Odd  -->
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <!-- Even  -->
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
        </div>
    </div>
</div>



<!-- <app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>

        </div>
    </div>
</div> -->



<!-- <div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
            <app-server-element *ngFor="let serverElement of serverElements" 
            [srvElement]="serverElement"
            [name]="serverElement.name">

                <p>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{ serverElement.content
                        }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>

            </app-server-element>
        </div>
    </div>
</div> -->