<div class="ui raised segment">
    <h2 class="ui header">Demo Form: with validations (explicit)</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form"
        [class.error]="!myForm.valid && myForm.touched">

        <div class="field" [class.error]="!myForm.valid && sku.touched">
            <label for="skuInput">SKU</label>
            <input for="text" id="skuInput" placeholder="SKU" [formControl]="sku">
            <div *ngIf="!sku.valid" class="ui error message">SHU is invalid</div>
            <div *ngIf="!sku.hasError('required')" class="ui error message">SKU is required</div>
        </div>

        <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>

        <button type="submit" class="ui button">Submit</button>
    </form>
</div>